<div class="text-center">
    <h2>Edit Post:</h2>
    <form class="form comment-form">
        <div class="form-group">
            <label for="title-login">Title:</label>
            <input class="form-input" type="text" id="title-login" value="{{blog_name}}" />
        </div>
        <div class="form-group">
            <label for="content-login">Content: </label>
            <textarea class="form-input" type="text" id="content-login">{{description}}</textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                Update post
            </button>
        </div>
        <input id="edit" type="hidden" value="{{blog.id}}" />
    </form>
</div>

<script src="/js/update.js"></script>