<div class="col container3">
    <div class="row">
        <h3>Login</h3>

        <form class="form login-form col">
            <div class="form-group row w-25 p-3">
                <label for="email-login text-start">Username:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group row w-25 p-3">
                <label for="password-login text-start">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group p-3">
                <button class="btn btn-primary" type="submit">Login
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <a href="/signup" class="p-3 link">
            <h5>Click here to signup</h5>
        </a>
    </div>
</div>

<script src="/js/auth.js"></script>